<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>vokoscreenNG</Name>
    <Version>3.0.0</Version>
    <Title>vokoscreenNG</Title>
    <Logo>vokoscreen-logo.png</Logo>
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <TargetDir>@HomeDir@/vokoscreenNG-@Version@</TargetDir>
    <RunProgram>@TargetDir@/vokoscreenNG.sh</RunProgram>
    <InstallerWindowIcon>vokoscreen-InstallerWindowIcon.png</InstallerWindowIcon>
</Installer>
