<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>vokoscreen</Name>
    <Version>2.5.4</Version>
    <Title>vokoscreen</Title>
    <Logo>vokoscreen-logo.png</Logo>    
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <TargetDir>@HomeDir@/vokoscreen</TargetDir>
    <RunProgram>@TargetDir@/vokoscreen.run</RunProgram>
    <InstallerWindowIcon>vokoscreen-InstallerWindowIcon.png</InstallerWindowIcon>
</Installer>
