<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>vokoscreenNG</Name>
    <Version>3.0.0</Version>
    <Title>vokoscreenNG</Title>
    <WizardStyle>Classic</WizardStyle>
    <Logo>vokoscreenNG-logo.png</Logo> <!-- Logo oben rechts im Wizard -->
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <TargetDir>@HomeDir@/vokoscreenNG-@Version@</TargetDir>
    <InstallerWindowIcon>vokoscreenNG-InstallerWindowIcon.png</InstallerWindowIcon> <!-- Icon für Titelzeile -->
    <ControlScript>controllerscript.qs</ControlScript>
</Installer>
