<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>vokoscreenNG</Name>
    <Version>2.9.9-Beta</Version>
    <Title>vokoscreenNG</Title>
    <Publisher>vokoscreenNG Team</Publisher>
    <WizardStyle>Classic</WizardStyle>
    <Logo>vokoscreenNG-logo.png</Logo> <!-- Logo oben rechts im Wizard -->
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <TargetDir>@HomeDir@/vokoscreenNG-@Version@</TargetDir>
    <InstallerApplicationIcon>vokoscreenNG-InstallerWindowIcon</InstallerApplicationIcon> <!-- Icon für Titelzeile und Deinstallation -->
    <ControlScript>controllerscript.qs</ControlScript>
</Installer>
